/* PC */
@media screen and (min-width: 992px) {
}

/* Tablet and Mobile */
@media screen and (max-width: 991px) {
    .navbar .nav-list {
        display: none;
    }

    .navbar {
        position: relative;
    }

    .navbar .navbar-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% -50%);
    }

    .toggle-menu {
        display: none;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* PC */
@media screen and (max-width: 767px) {
}

.toggle-menu {
    display: none;
}
